body{
	font-family: Segoe UI;
}

#social-buttons button {
	color : white;
}
.btn-twitter {
	background-color : #00acee;
	border-color : #009ad5;
}
.btn-facebook {
	background-color : #4868ac;
	border-color : #314776;
}
.btn-pinterest {
	background-color : #b62f26;
	border-color : #b62f26;
}

.jumbotron {
	min-height : 400px;
	background-image : url('images/background.jpg');
	background-size : cover;
	background-attachment : fixed ;
	color: white;
}
.jumbotron h1{
	font-family: 'Buxton Sketch', cursive;
	font-size: 500pt;
	color: white;
	margin-bottom: 1em
}

#buzz {
	text-align: center;
}


#mission {
	text-align: center;
	background-color : rgba(32, 35, 41, 0.9) ;
	color : #ddd;
}

#circleborder{
	border-radius: 50px;
}

.navbar-inner {
    background:rgba(16,16,16,0.5);
}
