body{
	font-family: Segoe UI, "Lucida Grande";
	text-align: center;
}

ul{
	text-align: left;
}

#social-buttons button {
	color : white;
}
.btn-twitter {
	background-color : #00acee;
	border-color : #009ad5;
}
.btn-facebook {
	background-color : #4868ac;
	border-color : #314776;
}
.btn-pinterest {
	background-color : #b62f26;
	border-color : #b62f26;
}

.jumbotron {
	min-height : 300px;
	background-image : url('images/background.jpg');
	background-size : cover;
	background-attachment : fixed ;
	color: white;
}

@font-face {
	font-family: 'BuxtonSketch';
	src: url('./BuxtonSketch.eot');
	src: local('BuxtonSketch'), url('./BuxtonSketch.woff') format('woff'), url('./BuxtonSketch.ttf') format('truetype');
}

/* Font downloaded from FontsForWeb.com */
.jumbotron h1{
	font-family: BuxtonSketch, cursive;
	font-size: 60pt;
	color: black;
	margin-bottom: 1em
	text-align:center;
}

#buzz {
	text-align: center;
}


#mission {
	text-align: center;
	background-color : rgba(215, 40, 40, 0.9) ;
	color : #fff;
}

#newsletter {
	text-align: center;
	background-color : rgba(40, 44, 44, 0.9);
	color : #fff;
}

#circleborder{
	width: 200px;
	border-radius: 50px;
}

.navbar-inner {
    background:rgba(16,16,16,0.5);
}

#brand-icon{
	width: 45px;
	border-radius:5px;
}

#accessories{
	text-align: left;
	padding: 20px;
	background-color : rgb(128, 128, 128) ;
	color : #fff;
}

#accessories-pictures{
	height: 200px;
	margin: 20px;
	border-radius: 50px;
}

#map {
        width: 500px;
        height: 350px;
        background-color: #CCC;
        margin: 50px;
      }

#street-view {
        width: 500px;
        height: 400px;
        background-color: rgb(204, 255, 255);
        margin: 20px;
      }
      
#street-view2 {
        width: 500px;
        height: 400px;
        background-color: rgb(204, 204, 204);
        margin: 20px;
      }

a {
	color: rgb(0, 0, 0);
}

div {
	vertical-align: middle;
}
