body{
	font-family: Segoe UI;
	text-align: center;
}

ul{
	text-align: left;
}

#social-buttons button {
	color : white;
}
.btn-twitter {
	background-color : #00acee;
	border-color : #009ad5;
}
.btn-facebook {
	background-color : #4868ac;
	border-color : #314776;
}
.btn-pinterest {
	background-color : #b62f26;
	border-color : #b62f26;
}

.jumbotron {
	min-height : 300px;
	background-image : url('images/background.jpg');
	background-size : cover;
	background-attachment : fixed ;
	color: white;
}
.jumbotron h1{
	font-family: 'Buxton Sketch', cursive;
	font-size: 60pt;
	color: black;
	margin-bottom: 1em
	text-align:center;
}

#buzz {
	text-align: center;
}


#mission {
	text-align: center;
	background-color : rgba(215, 40, 40, 0.9) ;
	color : #fff;
}

#newsletter {
	text-align: center;
	background-color : rgba(40, 44, 44, 0.9);
	color : #fff;
}

#circleborder{
	width: 200px;
	border-radius: 50px;
}

.navbar-inner {
    background:rgba(16,16,16,0.5);
}

#brand-icon{
	width: 45px;
}

#accessories{
	text-align: center;
	background-color : rgba(215, 40, 40, 0.9) ;
	color : #fff;
}

#accessories-pictures{
	width: 300px;
}

#map {
        width: 500px;
        height: 400px;
        background-color: #CCC;
      }
